header {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgb(231, 214, 231);
    color:rgb(68, 40, 68)
}

nav a {
    padding: 5px;
    color:rgb(68, 40, 68)
}

h1 {
    margin-left: 20px
}

div img{
    width: 200px;
    height: 200px
}

.about-me {
    padding: 10px;

}

.links {
    display: flex;
    flex-wrap: wrap;
}

#about-me-txt {
    text-align: right;
    /* border-style: solid */
}

#about-p {
    font-size: medium;
    border-left: solid rgb(68, 40, 68);
    border-width: 10px;
    border-right: solid rgb(68, 40, 68);
    border-width: 10px;
    padding: 20px;
    padding-left: 30px
}

#photo-column {
    display: flex;
    flex-direction: flex;
}

#photo-me {
    width: 170px;
    height: 170px;
    margin-right: 10px;
    margin-bottom: 15px
}

#contact-me-txt {
    text-align: center;
}

#links {
    justify-content: center;
    margin-left: 10px
}

#links a {
    margin: 10px;
    font-size: 30px
}

#my-work {
    margin-bottom: 20px
}

#my-work-head {
    text-align: right;
    margin-right: 30px;
    margin-top: 100px
}

#link-imgs {
    border-left: solid rgb(68, 40, 68);
    border-width: 10px;
    justify-content: left
}

#small-imgs {
    display: flex;
    flex-wrap: wrap;
}

#img-size-1 {
    width: 505px;
    height: 505px;
    padding-top: 10px;
}

#img-1-div {
    justify-content: center;
}
#img-size-2 {
    width: 250px;
    height: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px
}