body {
    background-color: rgb(248, 248, 248);
}
header {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: rgb(231, 214, 231);
    color: black;
    border: solid rgb(68, 40, 68);
}

nav a {
    padding: 5px;
    color:rgb(68, 40, 68)
}

.photo {
    margin: 20px;
    width: 250px;
    height: 250px;
    border: solid rgb(68, 40, 68)
}

#my-work-row {
    margin: 20px
}

#column-1 {
    text-align: right
}

#column-2 {
    text-align: center;
    border-left: solid rgb(68, 40, 68);
    border-width: 10px;
    position: relative
}

#large-photo {
    margin: 20px;
    width: 500px;
    height: 500px;
    border: solid rgb(68, 40, 68)
}

#inner-column-1 {
    text-align: center;
    position: relative
}

#inner-column-2 {
    text-align: center;
}

#about-me-row {
    margin: 20px
}

#about-me-title-div {
    text-align: right;
}

#about-me-div {
    border-left: solid rgb(68, 40, 68);
    border-width: 10px;
    border-right: solid rgb(68, 40, 68);
    border-width: 10px
}

#about-me-text {
    padding: 20px;
}

#photo-me-div {
    text-align: center;
}

#photo-me {
    width: 180px;
    height: 180px;
    border: solid rgb(68, 40, 68)
;

}

#contact-me-txt {
    text-align: center;
}

#links {
    justify-content: center
}

#links a {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 30px
}

#phone-number {
    text-align: center;
    color:rgb(68, 40, 68)
}

/* CAPTIONS */
#large-caption {
    color:rgb(68, 40, 68);
    font-size: 40px;
    background-color: rgb(231, 214, 231);
    border: solid rgb(68, 40, 68);
    padding: 5px;
    position: absolute;
    right: 32px;
    top: 424px
}

.small-caption {
    position: absolute;
    top: 225px;
    right: 12px;
    background-color:rgb(231, 214, 231);
    border: solid rgb(68, 40, 68);
    color:rgb(68, 40, 68);
    padding: 2px
}

.small-caption2 {
    position: absolute;
    top: 513px;
    right: 12px;
    background-color:rgb(231, 214, 231);
    border: solid rgb(68, 40, 68);
    color:rgb(68, 40, 68);
    padding: 2px
}
